[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
oracledb = "*"
luigi = "*"
pandas = "*"
pandas-stubs = "*"
attrs = "*"
requests = "*"
types-requests = "*"

[dev-packages]
black = "*"
coveralls = "*"
ipython = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
requests-mock = "*"
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
hrqb = "python -c \"from hrqb.cli import main; main()\""
