[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
oracledb = "*"
luigi = "3.5.1"
pandas = "*"
pandas-stubs = "*"
attrs = "*"
requests = "*"
types-requests = "*"
sqlalchemy = "*"
us = "*"
cryptography = "*"

[dev-packages]
black = "*"
coveralls = "*"
ipython = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
requests-mock = "*"
freezegun = "*"
sqlalchemy-stubs = "*"
boto3 = "*"
pytest-mock = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
hrqb = "python -c \"from hrqb.cli import main; main()\""
